<!DOCTYPE html>
<html ng-app="applist" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="feito.css">
</head>

<body>
    <div class="mx-auto mt-5 jumbotron" style="width: 500px;">
        <h2>a fazer</h2>
        <div ng-controller="controllerLista as vm">
            <span>{{restando()}} de {{listaDeTarefas.length}} restando</span>
            <button class="btn-primary" ng-click="Arquivar()">Arquivar feitos</button>
            <ul class="unstyled">
                <li ng-repeat="tarefa in listaDeTarefas">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="tarefa.feito">
                        <span class="feito-{{tarefa.feito}}">{{tarefa.nome}}</span>
                    </label>
                </li>
            </ul>
            <form ng-submit="addTarefa()">
                <input type="text" ng-model="textoTarefa" size="30" placeholder="add new todo here">
                <input class="btn-primary" type="submit" value="add">
            </form>
        </div>
    </div>
</body>

</html>